.main__list-item {
  width: 220px;
  min-height: 304px;
  border: 1px solid #DDDADA;
  padding: 11px 14px 19px 12px;
  margin-right: 19px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;

  img {
    margin: 0 auto;
    margin-bottom: 5px;
  }
}

.main__list-item-rating {
  display: flex;

  span {
    color: #9F9E9E;
    letter-spacing: 0.1em;
    font-size: 10px;
    line-height: 15px;
    text-align: right;
    display: block;
    min-width: 14px;
  }
}

.main__list-item-stars {
  display: flex;
  padding-left: 0;
  padding-top: 1px;
}

.main__list-item-star {
  width: 12px;
  height: 12px;
  background-image: url('./star_empty.svg');
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 2px;

  &--half {
    background-image: url('./star_half.svg');
  }

  &--full {
    background-image: url('./star.svg');
  }
}

.main__list-item-decription {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 0.03em;
  margin-top: 4px;

  h4 {
    max-width: 50%;
    font-weight: normal;
    letter-spacing: 0.08em;
  }

  p {
    letter-spacing: 0.05em;
    max-width: 50%;
  }
}

.main-list-item-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: auto;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 89px;
    min-height: 23px;
    text-align: center;
  }

  button {
    background-color: #E27F00;
    width: 87px;
    padding-left: 20px;
    padding-top: 3px;
    background-image: url('./cart.svg');
    background-repeat: no-repeat;
    background-position: center left 10px;
  }

  button:hover {
    background-color: #FFA839;
  }

  button:active {
    background-color: #DA8B26;
  }
}
