@font-face {
  font-family: 'DroidSans';
  src: url('../fonts/DroidSansRegular.woff2') format('woff2'), url('../fonts/DroidSansRegular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DroidSans';
  src: url('../fonts/DroidSansBold.woff2') format('woff2'), url('../fonts/DroidSansBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
